h1 {background-color: rebeccapurple;
    width: 500px;
    text-align: center;
    }
    img { margin-left: 100px;
    }

h2 {background-color: brown;
    width: 500px;
    text-align: center;
    border: 9px solid #000000;
}

ul { font-size: 1.5rem;
}

p { background-color: aquamarine; 
    font-size: 1.3rem;
    width: 500px; 
    box-shadow: 24px 25px 0px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 24px 25px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 24px 25px 0px 0px rgba(0,0,0,0.75);

}